<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-custom-red">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="card-title">HSM Configuration</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="mode==='L'">
                        <div class="row">
                            <div class="col-sm-4">
                                <button mat-raised-button color="primary" class="btn" (click)="addBin('A')">
                                    <mat-icon>add</mat-icon>Add New HSM</button>
                            </div>
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Search</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex Username" #input>
                                </mat-form-field>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12 mat-elevation-z12" *ngIf="showrecords">
                            <div class="example-container">
                                <table mat-table [dataSource]="dataSource">

                                    <ng-container matColumnDef="sno">
                                        <th mat-header-cell *matHeaderCellDef>Sl No</th>
                                        <td mat-cell *matCellDef="let row;let i = index"> {{i+1}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="productCode">
                                        <th mat-header-cell *matHeaderCellDef> PRODUCT </th>
                                        <td mat-cell *matCellDef="let binList"> {{ binList.productCode }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hsmName">
                                        <th mat-header-cell *matHeaderCellDef> HSM </th>
                                        <td mat-cell *matCellDef="let binList"> {{ binList.hsmName }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hsmcomId">
                                        <th mat-header-cell *matHeaderCellDef> HSMCOM_ID </th>
                                        <td mat-cell *matCellDef="let binList"> {{ binList.hsmcomId }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let element">
                                            <button mat-icon-button aria-label="View" color="primary" matTooltip='View'
                                                (click)="onRowClick(element,'V')"><mat-icon>visibility</mat-icon></button>
                                            <button mat-icon-button aria-label="Edit" color="text-secondary"
                                                matTooltip='Edit' matTooltipClass="example-tooltip-red"
                                                (click)="onRowClick(element,'E')"><mat-icon>edit_note</mat-icon></button>
                                            <button mat-icon-button aria-label="Delete" color="accent"
                                                matTooltip='Delete' matTooltipClass="example-tooltip-red"
                                                (click)="deletehsm(element)"><mat-icon>delete</mat-icon></button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="9">No Records Found !!!!
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <mat-paginator [pageSizeOptions]="[5,10,15,20,50]" #paginatorRef showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                        </div>

                    </div>

                    <div class="card-body" style="margin-top: 20px;margin-bottom: 50px;" *ngIf="mode!='L'">
                        <form action="" [formGroup]="hsmform">
                            <div class="three-columns-grid">
                                <mat-form-field class="example-full-width">
                                    <mat-label>HSM NAME</mat-label>
                                    <input matInput formControlName="hsmName" placeholder="HSM" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['hsmName'].hasError('required')">
                                        HSM Name is required.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['hsmName'].hasError('maxlength')">
                                        Name cannot exceed 24 characters.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['hsmName'].hasError('minlength')">
                                        Name cannot exceed 24 characters.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['hsmName'].hasError('pattern')">
                                        Name can only contain letters (no numbers, spaces, or special
                                        characters).
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>IP</mat-label>
                                    <input matInput placeholder="IP" formControlName="ip" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['ip'].hasError('required')">
                                        ip is required
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['ip'].hasError('pattern')">
                                        Only numbers and . are allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Port</mat-label>
                                    <input matInput placeholder="Port" formControlName="port" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['port'].hasError('required')">
                                        Port is required.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['port'].hasError('pattern')">
                                        Only numbers are allowed.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['port'].hasError('maxlength')">
                                        Port Number Cannot exceed 4 digits
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['port'].hasError('minlength')">
                                        Port Number Minimum 4 digits.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Product Code</mat-label>
                                    <mat-select formControlName="productCode" [disabled]="mode=='V'">
                                        <mat-option *ngFor="let product of productlist" [value]="product.productCode">
                                            {{ product.productCode }} - {{ product.productDesc }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="hsmform.get('productCode').hasError('required')">
                                        Product Code is required
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>PAN Offset Length</mat-label>
                                    <input matInput placeholder="PAN Offset Length" minlength="2" maxlength="2"
                                        formControlName="panOffsetLength" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['panOffsetLength'].hasError('pattern')">
                                        Only numbers are allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>PAN Val Length</mat-label>
                                    <input matInput placeholder="PAN Val Length" minlength="2" maxlength="2"
                                        formControlName="panValLength" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['panValLength'].hasError('pattern')">
                                        Only numbers are allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Decimilisation Table</mat-label>
                                    <input matInput placeholder="Decimilisation Table" formControlName="decimilisation"
                                        maxlength="16" minlength="16" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['decimilisation'].hasError('pattern')">
                                        Only numbers are allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>PVK-1</mat-label>
                                    <input matInput placeholder="PVK-1" minlength="16" maxlength="16"
                                        formControlName="pvk1" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['pvk1'].hasError('pattern')">
                                        Only alphabets and numbers are allowed.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['pvk1'].hasError('maxlength')">
                                        PVK-1 cannot exceed 16 digit.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['pvk1'].hasError('minlength')">
                                        PVK-1 Min 16 digit.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>PVK-2</mat-label>
                                    <input matInput placeholder="PVK-2" minlength="16" maxlength="16"
                                        formControlName="pvk2" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['pvk2'].hasError('pattern')">
                                        Only alphanumeric characters are allowed
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['pvk2'].hasError('maxlength')">
                                        PVK-2 cannot exceed 16 digit.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['pvk2'].hasError('minlength')">
                                        PVK-2 Min 16 digit.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Message Header</mat-label>
                                    <input matInput placeholder="Message Header" minlength="4" maxlength="8"
                                        formControlName="messageHeader" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['messageHeader'].hasError('required')">
                                        Message Header is required
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['messageHeader'].hasError('pattern')">
                                        Only numbers are allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>CVK-1</mat-label>
                                    <input matInput placeholder="CVV Key value-1" minlength="16" maxlength="16"
                                        formControlName="cvk1" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['cvk1'].hasError('pattern')">
                                        Only alphanumeric characters are allowed
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['cvk1'].hasError('maxlength')">
                                        CVK-1 cannot exceed 16 digit.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['cvk1'].hasError('minlength')">
                                        CVK-1 Min 16 digit.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>CVK-2</mat-label>
                                    <input matInput placeholder="CVV Key value-2" minlength="16" maxlength="16"
                                        formControlName="cvk2" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['cvk2'].hasError('pattern')">
                                        Only alphanumeric characters are allowed
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['cvk2'].hasError('maxlength')">
                                        CVK-2 cannot exceed 16 digit.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['cvk2'].hasError('minlength')">
                                        CVK-2 Min 16 digit.
                                    </mat-error>
                                </mat-form-field>


                                <mat-form-field class="example-full-width">
                                    <mat-label>PIN Length</mat-label>
                                    <input matInput placeholder="PIN Length" formControlName="pinlength" minlength="2"
                                        maxlength="2" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['pinlength'].hasError('pattern')">
                                        Only numbers are allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>PIN Offset Length</mat-label>
                                    <input matInput placeholder="PIN Offset Length" formControlName="pinOffsetLength"
                                        maxlength="2" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['pinOffsetLength'].hasError('pattern')">
                                        Only numbers are allowed
                                    </mat-error>
                                </mat-form-field>

                            </div>

                            <h2>PIN MAILER STATIONERY DETAILS</h2>

                            <div class="three-columns-grid">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Pin Mailer Description</mat-label>
                                    <input matInput placeholder="Pin Mailer Description" maxlength="25"
                                        formControlName="pinMailerDesc" [readonly]="mode=='V'" required>
                               z     <mat-error *ngIf="hsmform.controls['pinMailerDesc'].hasError('required')">
                                        Pin Mailer Description is required.
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['pinMailerDesc'].hasError('maxlength')">
                                        Maximum 25 characters allowed
                                    </mat-error>
                                    <mat-error *ngIf="hsmform.controls['pinMailerDesc'].hasError('pattern')">
                                        Only alphabetic characters are allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>PAN Pad Char</mat-label>
                                    <input matInput placeholder="PAN Pad Char" minlength="1" maxlength="1"
                                        formControlName="panPadChar" [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['panPadChar'].hasError('pattern')">
                                        Only alphabetic characters are allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Mail Length</mat-label>
                                    <input matInput placeholder="Mail Length" maxlength="2" formControlName="mailLength"
                                        [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['mailLength'].hasError('pattern')">
                                        Only numbers or decimals are allowed
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Mail Height</mat-label>
                                    <input matInput placeholder="Mail Height" maxlength="2" formControlName="mailHeight"
                                        [readonly]="mode=='V'">
                                    <mat-error *ngIf="hsmform.controls['mailHeight'].hasError('pattern')">
                                        Only numbers is allowed
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center">

                            <button mat-stroked-button mat-dialog-close color="warn" style="margin-right: 20px;"
                                (click)="clear()" *ngIf="mode==='A'">
                                <mat-icon>refresh</mat-icon> Reset
                            </button>

                            <button mat-stroked-button mat-dialog-close color="primary" style="margin-right: 20px;"
                                (click)="backList()">
                                <mat-icon>arrow_back</mat-icon> Back
                            </button>

                            <button type="submit" mat-raised-button [color]="mode === 'E' ? 'accent' : 'primary'"
                                class="md-btn" [disabled]="hsmform.invalid" (click)="addhsm()"
                                *ngIf="mode==='A' || mode==='E' || mode==='C'">
                                <mat-icon>{{ mode === 'E' ? 'edit' : 'check_circle' }}</mat-icon>&nbsp;
                                {{ mode === 'E' ? 'Update' : 'Submit' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>