<div class="request-password-container">
    <mat-card class="request-password-card">
        <div class="d-flex flex-column flex-center align-items-center">
            <div class="img-bg">
                <img class="img-fluid p-1" src="assets/img/image.png" alt="KANGARA Logo">
            </div>
        </div>
        <br>
        <mat-card-title>Request Password</mat-card-title>
        <mat-card-content>
            <form [formGroup]="requestPasswordForm" (ngSubmit)="onRequestPassword()">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="userName" placeholder="Enter User Name" required />
                    <mat-error *ngIf="requestPasswordForm.controls['userName'].hasError('required')">
                        User Name cannot be blank and Name is required
                    </mat-error>
                    <mat-error *ngIf="requestPasswordForm.controls['userName'].hasError('maxlength')">
                        User Name cannot exceed 25 characters.
                    </mat-error>
                    <mat-error *ngIf="requestPasswordForm.controls['userName'].hasError('pattern')">
                        alphabets only allowed.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Institution</mat-label>
                    <mat-select formControlName="instid" (selectionChange)="onInstitutionChange($event)">
                        <mat-option *ngFor="let inst of Instituionlist" [value]="inst.instName">
                            {{ inst.instName }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matPrefix>account_balance</mat-icon>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="requestPasswordForm.invalid">
                    Request Password
                </button>

                <button mat-raised-button color="warn" class="full-width" (click)="goBack()">
                    Back
                </button>

            </form>
        </mat-card-content>
    </mat-card>
</div>