.request-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.request-password-card {
    width: 400px;
    padding: 20px;
    text-align: center;
}

.full-width {
    width: 100%;
}

button {
    margin-top: 10px;
    width: 100%;
}


.img-bg {
    border-radius: 50%;
    background-color: white;
    height: 15vh;
    width: 7vw;
    margin-top: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .img-bg {
        height: 12vh;
        width: 12vh;
        margin-top: -55px;
    }
}

@media (max-width: 576px) {
    .img-bg {
        height: 10vh;
        width: 10vh;
        margin-top: -45px;
    }
}

.img-bg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}