input[type="text"] {
    color: white !important;
}

.form-control,
.is-focused .form-control {
    background-image: linear-gradient(to top, #fff 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.card-header-custom-red {
    background-color: #e72838;
    color: #fff;
}

.material-icons.md-18 {
    font-size: 12px;
}

.mat-raised-button .fetchData {
    background-color: #008a8a;
}

table {
    width: 100%;
}



.mat-header-cell {
    font-size: 16px;
    font-weight: 900;
    color: mediumvioletred;
}

.mat-cell {
    font-weight: 700;
    font-size: 14px;
}


/* container */
.three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/* columns */
.three-columns-grid>* {
    padding: 1rem;
}

mat-label {
    color: #03354e;
    font-weight: 500;
}


label {
    color: #03354e;
    font-weight: 500;
}

.example-full-width {
    width: 100%;
    padding-top: 30px;
}

.example-half-width {
    width: 80%;
    padding-top: 20px;

}


h1 {
    font-optical-sizing: 5;
    font-size: 16px;
    font-weight: 50;
    text-shadow: 2px 2px 4px #008a8a31;
    text-align: center;
}

// .six-columns-grid {
//     margin-left: 20px;
//     display: grid;
//     /* Sets the display mode to grid */
//     grid-auto-rows: 1fr;
//     /* Each row will take up one fraction of available height */
//     grid-template-columns: repeat(6, 1fr);
//     /* Defines six equal columns */
// }

.six-columns-grid {
    margin-left: 10px;
    display: grid;
    grid-auto-rows: 1fr;
    /* Equal height rows */
    grid-template-columns: repeat(8, minmax(0, 1fr));
    /* 8 responsive columns */
    max-width: 400vw;
    /* Prevent overflow beyond screen width */
    max-height: 100vh;
    /* Prevent overflow beyond screen height */
    overflow: hidden;
    /* Hide accidental scrollbars */
    gap: 5px;
    /* Optional: spacing between cells */
}

mat-radio-group {
    margin-left: 8px;
}


.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 20px;
    font-size: 16px;
}