.card-header-custom-red {
    //background: linear-gradient(60deg, #2c3e50, #34495e);
    background-color: #e72838;
    color: white;
    padding: 20px 24px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.mat-form-field {
    width: 100%;
}

// button[mat-raised-button] {
//     background: linear-gradient(to right, #00b09b, #96c93d);
//     color: white;
//     font-weight: bold;
//     transition: all 0.3s ease-in-out;
// }

// button[mat-raised-button]:hover {
//     transform: scale(1.05);
// }

table {
    width: 100%;
    border-collapse: collapse;
}

.mat-header-cell {
    font-size: 14px;
    font-weight: 700;
    background-color: #f7f9fc;
    color: #2c3e50;
    padding: 10px;
}

.mat-cell {
    font-size: 13px;
    padding: 12px;
    color: #34495e;
}

.mat-row:nth-child(even) {
    background-color: #f9f9f9;
}

.blinking {
    color: #e74c3c;
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.headerWeight {
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    color: #2c3e50;
}

.example-container {
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
}

.mat-paginator {
    margin-top: 12px;
}

input[matInput] {
    background-color: #f0f3f5;
    border-radius: 4px;
    padding: 8px;
}

.mat-icon {
    color: #999;
}