input[type="text"] {
    color: white !important;
}

.form-control,
.is-focused .form-control {
    background-image: linear-gradient(to top, #fff 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}


.material-icons.md-18 {
    font-size: 12px;
}

.mat-raised-button .fetchData {
    background-color: darkcyan;
}

table {
    width: 100%;
}

.card-header-custom-red {
    background-color: #e72838;
    color: #fff;
}

.mat-header-cell {
    font-size: 16px;
    font-weight: 900;
    color: mediumvioletred;
    text-align: center;
}

.mat-cell {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.headerWeight {
    font-weight: 900;
    margin-top: 20px;
}

.example-container {
    height: 250px;
    overflow: auto;
}

.alignTable {
    margin-top: -15px;
}

tr.mat-row,
tr.mat-footer-row {
    height: 40px;
}

tr.mat-header-row {
    height: 40px;
}

// :ng-deep .month-picker .mat-calendar-body {
//   display: none;
// }
// ng-deep .month-picker .mat-calendar-body {
//   display: none;
// }


// ng-deep .month-picker .mat-calendar-body {
//   display: none !important;
// }

// ng-deep .month-picker .mat-calendar-period-button {
//   pointer-events: none;
// }


// ng-deep .month-picker .mat-calendar-content .mat-calendar-body-cell {
//   display: none;
// }


ng-deep .month-picker .mat-calendar-body-cell-content {
    pointer-events: none;
}

ng-deep .month-picker .mat-calendar-body-cell {
    display: none;
}