<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-custom-red">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="card-title">Password Generation</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="mode==='L'">
                        <div class="row">
                            <div class="col-sm-3">
                                <mat-form-field class="full-width">
                                    <mat-label>Search</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex Username" #input>
                                </mat-form-field>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12 mat-elevation-z12">
                            <div class="example-container">
                                <table mat-table [dataSource]="dataSource">

                                    <ng-container matColumnDef="sno">
                                        <th mat-header-cell *matHeaderCellDef>Sl No</th>
                                        <td mat-cell *matCellDef="let row;let i = index"> {{i+1}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="userName">
                                        <th mat-header-cell *matHeaderCellDef> User Name </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.userName }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="profileId">
                                        <th mat-header-cell *matHeaderCellDef> Profile Name </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.profileName }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-icon-button aria-label="View" color="primary" matTooltip='View'
                                                (click)="showDetails(row, 'V')"><mat-icon>visibility</mat-icon></button>
                                            <button mat-icon-button aria-label="Authorize" color="text-secondary"
                                                matTooltip='Authorize' matTooltipClass="example-tooltip-red"
                                                (click)="showDetails(row, 'Auth')"><mat-icon>check_circle</mat-icon></button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="9">No Records Found !!!!
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <mat-paginator [pageSizeOptions]="[5,10,15,20,50]" #paginatorRef showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                        </div>

                    </div>

                    <div class="card-body" style="margin-top: 20px;margin-bottom: 50px;" *ngIf="mode!='L'">
                        <form [formGroup]="userFormGroup" #desigForm="ngForm" class="p-2"
                            *ngIf="mode=='Auth' || mode=='V'">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>Profile Name</mat-label>
                                        <mat-select formControlName="profileName" name="profileName">
                                            <mat-option *ngFor="let profile of profileList"
                                                [value]="profile.profileName"
                                                [disabled]="mode=='Auth' || mode=='V'">{{profile.profileName}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>User Name</mat-label>
                                        <input type="text" matInput autocomplete="off" placeholder="User Name"
                                            formControlName="username" name="username"
                                            [readonly]="mode=='V' || mode=='Auth'" minlength="4" maxlength="20">
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>Password</mat-label>
                                        <input type="password" matInput autocomplete="off" placeholder="Password"
                                            formControlName="password" name="password" [readonly]="mode=='V'" minlength="8"
                                            maxlength="10">
                                    </mat-form-field>
                                </div> -->
                                <!-- <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="mode !== 'E'">
                                    <mat-form-field class="full-width">
                                        <mat-label>Password</mat-label>
                                        <input type="password" matInput autocomplete="off" placeholder="Password"
                                            formControlName="password" name="password"
                                            [readonly]="mode=='V' || mode=='Auth'" minlength="8" maxlength="10">
                                    </mat-form-field>
                                </div> -->
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>First Name</mat-label>
                                        <input type="text" matInput autocomplete="off" placeholder="First Name"
                                            formControlName="firstname" name="firstname"
                                            [readonly]="mode=='V' || mode=='Auth'" maxlength="25">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>Last Name</mat-label>
                                        <input type="text" matInput autocomplete="off" placeholder="Last Name"
                                            formControlName="lastname" name="lastname"
                                            [readonly]="mode=='V' || mode=='Auth'" maxlength="25">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>Email</mat-label>
                                        <input type="text" matInput autocomplete="off" placeholder="Email"
                                            formControlName="email" name="email" [readonly]="mode=='V' || mode=='Auth'"
                                            maxlength="50">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>Mobile No</mat-label>
                                        <input type="text" matInput autocomplete="off" maxlength='10'
                                            placeholder="Mobile" formControlName="mobile" name="mobile"
                                            [readonly]="mode=='V' || mode=='Auth'">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>Address</mat-label>
                                        <input type="text" matInput autocomplete="off" placeholder="address"
                                            formControlName="address" name="address"
                                            [readonly]="mode=='V' || mode=='Auth'" maxlength="25">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>City</mat-label>
                                        <input type="text" matInput autocomplete="off" placeholder="city"
                                            formControlName="city" name="city" [readonly]="mode=='V' || mode=='Auth'"
                                            maxlength="25">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <mat-form-field class="full-width">
                                        <mat-label>Country</mat-label>
                                        <mat-select formControlName="country" name="country">
                                            <mat-option value="CM" [disabled]="mode=='V'|| mode=='Auth'">CM</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <div class="text-end pb-3" *ngIf="mode=='V'" style="margin-bottom: 30px;">
                                    <button mat-flat-button mat-dialog-close color="accent" (click)="close()">
                                        <mat-icon>keyboard_backspace</mat-icon> Back
                                    </button> &nbsp; &nbsp; &nbsp;
                                </div>

                                <div class="d-flex justify-content-center" *ngIf="mode=='Auth'"
                                    style="margin-bottom: 30px;">
                                    <button mat-flat-button mat-dialog-close color="accent" (click)="close()">
                                        <mat-icon>keyboard_backspace</mat-icon> Back
                                    </button> &nbsp; &nbsp; &nbsp;
                                    <button mat-flat-button mat-dialog-close color="warn" (click)="reject()">
                                        <mat-icon>cancel</mat-icon> Reject
                                    </button> &nbsp; &nbsp; &nbsp;
                                    <button mat-flat-button mat-dialog-close color="primary" (click)="authorize()">
                                        <mat-icon>verified_user</mat-icon> Authorize
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>