.custom-toast-error {
  background-color: #f8d7da;
  color: #721c24;
  border-left: 6px solid #f5c6cb;
}

.custom-toast-warning {
  background-color: #fff3cd;
  color: #856404;
  border-left: 6px solid #ffeeba;
}