input[type="text"] {
    color: white !important;
}

.form-control,
.is-focused .form-control {
    background-image: linear-gradient(to top, #fff 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.card-header-custom-red {
    background-color: #e72838;
    color: #fff;
}

.material-icons.md-18 {
    font-size: 12px;
}

.mat-raised-button .fetchData {
    background-color: darkcyan;
}

table {
    width: 100%;
}



.mat-header-cell {
    font-size: 16px;
    font-weight: 900;
    color: mediumvioletred;
    text-align: center;
}

.mat-cell {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.example-container {
    height: 250px;
    overflow: auto;
}

.alignTable {
    margin-top: -15px;
}

tr.mat-row,
tr.mat-footer-row {
    height: 40px;
}

tr.mat-header-row {
    height: 40px;
}

// P M SRINIVASAN




// input[type="text"] {
//   color: white !important;
// }

// .form-control,
// .is-focused .form-control {
//   background-image: linear-gradient(to top, #fff 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
// }


// .material-icons.md-18 {
//   font-size: 12px;
// }

// .mat-raised-button .fetchData{
//   background-color: darkcyan;
// }
// table {
//   width: 100%;
// }



// .mat-header-cell{
//   font-size: 16px;
//   font-weight: 900;
//   color: mediumvioletred;
//   text-align: center;
// }

// .mat-cell{
//   font-weight: 700;
//   font-size: 14px;
//   text-align: center;
// }

// .headerWeight{
//   font-weight: 900;
//   margin-top: 20px;
// }

// .example-container {
//   height: 250px;
//   overflow: auto;
// }

// .alignTable{
//   margin-top: -15px;
// }

// tr.mat-row, tr.mat-footer-row {
//   height: 40px;
// }

// tr.mat-header-row {
//   height: 40px;
// }